<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799641899155-9m7tpdj9qmo2nolbcd9l63q0ogqov6rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799641899155-9m7tpdj9qmo2nolbcd9l63q0ogqov6rf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>799641899155-0l2anruo0gv6u5ha7ofr8h8839vq658v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBpMF1odJwHIxZfxuzuOpYIxZc5k5Q6bk</string>
	<key>GCM_SENDER_ID</key>
	<string>799641899155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Easy.projects</string>
	<key>PROJECT_ID</key>
	<string>easy-projects-app</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-projects-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799641899155:ios:b01b394869d966134dfd66</string>
</dict>
</plist>